
@media (max-width: 767px) {
  body{
    background: black;
  }
}
/* ----------- For screens 768px and larger ----------- */
@media (min-width: 768px) and (max-width: 1999px) {
	body {
    background: red;
  }
}

/* ----------- For screens 1200px wide and larger----------- */
@media (min-width: 1200px) {
  body {
    background: pink;
  }
}
